@model IEnumerable<AgeGroupDto>

<div class="card card-dark bg-dark border-black" data-bs-theme="dark">
	<div class="card-header">
		<h6 class="card-title">@Localizer["AgeGroups"]</h6>
		<div class="d-flex justify-content-end">
			<a asp-action="Create" class="btn btn-success">
				<i class="bi bi-plus-lg"></i>
				@Localizer["Create"]
			</a>
		</div>
	</div>
	<div class="card-body text-light">
		<div class="table-responsive">
			<table id="ageGroupsTable" class="table table-dark table-hover table-striped align-middle">
				<thead class="table-secondary">
					<tr>
						<th class="text-center">@Localizer["Id"]</th>
						<th>@Localizer["Name"]</th>
						<th class="text-end pe-5">@Localizer["MinimumAge"]</th>
						<th class="text-end pe-5">@Localizer["MaximumAge"]</th>
						<th class="text-center">@Localizer["Status"]</th>
						<th class="text-center">@Localizer["Operations"]</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var ageGroup in Model)
					{
						<tr>
							<td class="text-center">@ageGroup.AgeGroupId</td>
							<td>@ageGroup.Name</td>
							<td class="text-end pe-5">@ageGroup.MinAge</td>
							<td class="text-end pe-5">@ageGroup.MaxAge</td>
							<td class="text-center">
								@if (ageGroup.Status)
								{
									<span class="badge bg-success">@Localizer["Active"]</span>
								}
								else
								{
									<span class="badge bg-danger">@Localizer["Inactive"]</span>
								}
							</td>
							<td class="text-center align-content-center">
								<div class="btn-group btn-group-sm" role="group">
									<a asp-action="Update" asp-route-id="@ageGroup.AgeGroupId" class="btn btn-warning btn-sm rounded mx-1">
										<i class="fa-solid fa-pen-to-square"></i>
										@Localizer["Update"]
									</a>
									<button type="button" class="btn btn-danger btn-sm rounded mx-1" data-bs-toggle="modal" data-bs-target="#deleteModal-@ageGroup.AgeGroupId">
										<i class="bi bi-trash3"></i>
										@Localizer["Delete"]
									</button>
									<div class="modal fade" id="deleteModal-@ageGroup.AgeGroupId" tabindex="-1" aria-labelledby="deleteModalLabel-@ageGroup.AgeGroupId" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="deleteModalLabel-@ageGroup.AgeGroupId">@Localizer["ConfirmDeletion"]</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<p>@Localizer["AreYouSureYouWantToDeleteThis{0}AgeGroup",ageGroup?.Name]?</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
													<a asp-action="Delete" asp-route-id="@ageGroup.AgeGroupId" class="btn btn-danger rounded mx-1">
														<i class="bi bi-trash3"></i>
														@Localizer["Delete"]
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" data-bs-theme="dark">
	@await Html.PartialAsync("_Toasts")
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			$('#ageGroupsTable').DataTable({
				columnDefs: [ {
					"orderable": false,
					"targets": [ 5 ]
				} ],
				responsive: true,
				paging: true,
				searching: true,
				ordering: true,
				lengthChange: true,
				language: {
					search: "@Localizer["Search"] : ",
					lengthMenu: "@Localizer["Show _MENU_ entries"]",
					info: "@Localizer["Showing _START_ to _END_ of _TOTAL_ entries"]",
					paginate: {
						previous: "@Localizer["Previous"]",
						next: "@Localizer["Next"]"
					}
				}
			});
		});
	</script>
	<script>
		$(document).ready(function ()
		{
			const successfullToast = document.getElementById('successfullToast')
			const failureToast = document.getElementById('failureToast')
			if(@(@TempData["OperationSuccessfull"] != null ? "true" : "false"))
			{
				if (@(@TempData["OperationMessage"] != null ? "true" : "false") && @Html.Raw(Json.Serialize(@TempData["OperationMessage"])) != "")
				{
					if(@Html.Raw(Json.Serialize(@TempData["OperationSuccessfull"])) == true)
					{
						const toastBootstrap = bootstrap.Toast.getOrCreateInstance(successfullToast)
						toastBootstrap.show()
					}
					else
					{
						const toastBootstrap = bootstrap.Toast.getOrCreateInstance(failureToast)
						toastBootstrap.show()
					}
				}
			}
			
		})
	</script>
}